.header {
  height: 60px;
  width: 100%;
  // background: #2c2d2d;
  position: relative;
  top: 0;
  left: 0;

  .nav {
    .header_menu {
      display: flex;
      height: 60px;
      width: 100%;
      position: relative;
      background: #2c2d2d;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      align-items: center;

      li {
        height: 80px;
        line-height: 80px;
        list-style: none;
        color: #fff;
        a {
          color: #fff;
          &.nav-link {
            display: block;
            /* padding: 0.5rem 1rem; */
            padding: 0;
          }
        }
        
      }
      &_title {
        display: flex;
        flex: 0 0 auto;
        align-self: center;
        color: #00bba4;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: bold;
      }
      button.drawer-toggle  {
        flex-direction: row;
      }
      .drawer-nav {
        display: flex;
        justify-content: center;
        .drawer-menu {
          height: 100vh;
          width: 60%;
          align-content: space-around;
          li {
            height: 80px;
            line-height: 80px;
            .listNew{
              &:before {
                font-family: "Font Awesome 5 Free";
                content: "\f044";
                display: inline-block;
                margin-right: 0.5rem;
                font-size: 20px;
              }
            }
            .logOut{
              &:before {
                font-family: "Font Awesome 5 Free";
                content: "\f2f5";
                display: inline-block;
                margin-right: 0.5rem;
                font-size: 20px;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
  }
}