.header {
  height: 60px;
  width: 100%;
  // background: #2c2d2d;
  position: relative;
  top: 0;
  left: 0;

  .nav {
    .header_menu {
      display: flex;
      height: 60px;
      width: 100%;
      position: relative;
      background: #2c2d2d;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      align-items: center;
      .header_menu_title {
        a {
              color: #00bba4;
        }
      }
      li {
        list-style: none;
        color: #fff;
        a {
          color: #fff;
          &.nav-link {
            display: block;
            /* padding: 0.5rem 1rem; */
          }
        }
        
      }
      &_title {
        display: flex;
        flex: 0 0 auto;
        align-self: center;
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: bold;
      }
      &_inner {
        display: flex;
        padding: 0;
        align-items: center;
        .listNew {
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f044";
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}