div#user-modal.show {
  display: flex!important;
  .modal-dialog {
    flex: 0 100%;
    align-self: center;

    .carddetailPage {
      .container {
        word-break: break-word;
        padding: 0 1.5rem;
        .cardContents {
          margin: 40px auto 0;
          max-width: 600px;
          i.far.fa-times-circle.fa-lg {
            color: #efefef;
            text-shadow: none;
          }
          &_title {
            h2 {
              font-size: 22px;
            }
          }
          &_title, &_memo, &_listStatus {
            width: 100%;
            word-wrap: break-word;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            margin-bottom: 30px;
            label {
              font-size: 0.8rem;
            }
            label + div {
              min-height: 2rem;
            }
          }
          &_btnArea {
            margin: 40px auto;
            text-align: center;
            & > a {
              display: block;
              &.edit_btn {
                max-width: 200px;
                margin: 0 auto;
                background: #026aa7;
                padding: 7px;
                border-radius: 4px;
                color: #fff;
                transition: opacity .5s;
                text-decoration: none;
                &:hover {
                  opacity: .7;
                }
              }
              &.delete_btn {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
    
  }
}