.topPage {
  min-height: 93vh;
  padding-top: 30px;
  background: #0000009e;
  overflow-x: auto;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      color: #efefef;
      position: relative;
      background: #e2e4e6;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      border-radius: 4px;
      background: #252525d9;
      border: solid 1px #fff;
      box-shadow: 4px 4px 0 #3a3a3a96, inset 2px 2px 0 #ffffff5c;
      
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        
        &_action {
          .fa-pen, .fa-trash {
            font-size: 18px;
            // color: #8c8c8c;
            color: #a9a9a9;
          }
          
          .fa-trash {
            margin-right: 10px;
          }
        }
      }
      .cardWrapper {
        overflow-y: auto;
        max-height: 76vh;
        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }
        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
      }
      .addCard {
          color: #a9a9a9;
          &_link {
            color: #a9a9a9;
          }
        }
    }
  }
}
