.signinPage {
  display: flex;
  flex:0 0 100%;
  height: 100vh;
  // align-self: center;
  color: #efefef;
  .container {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .title {
      color: #efefef;
      margin: 0 auto 40px;
      font-size: 1.4rem;
      text-align: center;
    }
    .new_user {
      color: #efefef;
      .form-group {
        font-size: 0.8rem;
        max-width: 500px;
        margin: 0 auto;
        &:not(:last-child) { margin: 0 auto 1rem; }
        .form-control {
          background: #f6f8fa;
        }
      }
    }
    .loginBtn {
      padding: 12px;
      width: 200px;
      border-radius: 22px;
      background: #026aa7;
      color: #fff;
      text-align: center;
      letter-spacing: .1rem;
      border: none;
      margin: 40px auto;
      opacity: 1;
      transition: opacity .5s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
      // text-align: center;
      // .submitBtn {
      //   max-width: 200px;
      //   margin: 0 auto;
      //   background: #026aa7;
      //   padding: 7px;
      //   border: none;
      //   border-radius: 22px;
      //   color: #fff;
      //   transition: opacity .5s;
      //   text-decoration: none;

    
    .acountPage_link {
      margin: 40px auto;
      a {
        color: #a9a9a9;
      }
    }
      
  }
}
