<div class="modal-dialog">
  <div class="modal-content">

    <div class="listnewPage">
      <div class="container">
        <%= form_with model: @list, url: { action: :update }, html: { class: 'new_list' } do |f| %>
          <% if @list.errors.any? %>
            <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
          <% end %>
          <%= f.label :タイトル %>
          <%= f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "リスト名" %>
          <div class="text-center"><%= f.submit "保存する", class: "submitBtn" %></div>
        <% end %>
      
      </div>
    </div>

  </div>  
</div>